@import "tailwindcss";

/* ===== NAVBAR LINK ANIMATION ===== */
.nav-link {
  position: relative;
  padding-bottom: 4px;
}

.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 2px;
  background-color: #f97316; /* orange-500 */
  transition: width 0.3s ease-in-out;
}

.nav-link:hover::after {
  width: 100%;
}

